@use '../../styles/themes/variables' as *;

.dropdownContainer {
  position: absolute;
  top: 100%;
  right: 0;
  border: var(--border-primary);
  background: #ffff;
  border-radius: var(--radius-2xl);
  list-style: none;
  padding: var(--space-0);
  margin-top: var(--space-1);
}

.dropdownContent {
  padding: var(--space-8);
  white-space: nowrap;
}

