@use '../../styles/themes/variables' as *;

.colorButtonContent {
  border: var(--border-primary);
  border-radius: var(--radius-2xl);
  background-color: var(--secondary);
  cursor: pointer;
  min-height: var(--touch-target-min);
  min-width: var(--touch-target-min);
}

.title {
  font-weight: var(--font-weight-medium);
  padding: var(--space-4) var(--space-8);
  color: var(--font-color);
}

.dropdownWrapper {
  padding: var(--space-4);
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.colorThemeTitles {
  border-bottom: var(--border-secondary);
}

.colorContainer {
  display: flex;
  justify-content: flex-start;
  padding: var(--space-4);
  gap: var(--space-4);
}

.colorOption {
  border-radius: var(--radius-full);
  border: var(--border-width-md) solid #1b2021;
  width: var(--touch-target-min);
  height: var(--touch-target-min);
  cursor: pointer;
  min-width: var(--touch-target-min);
  min-height: var(--touch-target-min);
}

.languageContainer {
  display: flex;
  justify-content: flex-start;
  padding: var(--space-4);
  gap: var(--space-4);
}

.languageOption {
  border-radius: var(--radius-2xl);
  border: var(--border-width-md) solid #1b2021;
  padding: var(--space-4);
  cursor: pointer;
  min-height: var(--touch-target-min);
  min-width: var(--touch-target-min);
}

