html[data-theme="blue"],
[data-theme="blue"] {
  --body-color: #658fc6;
  --primary: #afd3fa;
  --border-color: rgba(0, 5, 85, 0.1);
  --font-color: #1E212D;
  --icon-color: #1E212D;
  --secondary: #CDF0EA;
  --border-primary: 2px solid #CDF0EA;
  --border-secondary: 1px solid #6a6c72;
}

