@use './themes/variables' as *;

:root {
  font-family: var(--font-family-primary);
}

body {
  margin: var(--space-0);
  padding: var(--space-0);
  background: var(--body-color);

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

#root {
  width: 100%;

  @include container-xl {
    max-width: var(--container-max-width);
  }
}

