@use '../../styles/themes/variables' as *;

.cardContainer {
  border: var(--border-primary);
  width: 100%;
  height: auto;
  border-radius: var(--radius-xl);
}

.cardContent {
  padding: var(--space-4);
}

