.mainPageContent {
  display: flex;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 4.5rem;
  font-weight: 500;
}

.titleCard {
  font-size: 2rem;
  font-weight: 500;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inAndEmailContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.description {
  display: block;
}

